*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
body{
    background-image: url(img1.jpg);
    background-size: cover;
    box-sizing: border-box;
}
nav{
    background-color: transparent;
    display: flex;
    height: 10vh;
}
span{
    color: orange;
    font-size: 2rem;
}
nav .Logo{
    font-size: 2rem;
    margin-right: 20%;
    margin-left: 6%;
    margin-top: 15px;
    color: #ffffff;
    letter-spacing: 0.15cap;
}
.Menu ul li{
    display: inline-flex;
    padding-inline: 20px;
    padding: 25px 5px;
    margin-left: 40px;
    letter-spacing: 0.1cap;
    /* background-color: black; */
}
.Menu ul li a{
    color: #ffffff;
    text-decoration: none;
}
.Menu ul li  :hover{
    color: #fbd0be;
}

