*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
body{
    width: 100%;
    height: 100%;
}
#main-1{
    background-image: url(img1.jpg);
    background-size: cover;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
}
#main-2{
    width: 100%;
    height: 100vh;
    background-color: rgb(230, 238, 246);
}
#main-3{
    width: 100%;
    height: 100vh;
    background-color: rgb(230, 238, 246);
}
nav{
    background-color: transparent;
    display: flex;
    height: 10vh;
}
.dot{
    color: orange;
    font-size: 2rem;
}
nav .Logo{
    font-size: 1.75rem;
    margin-right: 20%;
    margin-left: 6%;
    margin-top: 15px;
    color: #ffffff;
    letter-spacing: 0.15cap;
}
.Menu ul li{
    display: inline-flex;
    padding-inline: 20px;
    padding: 25px 5px 25px 3px; 
    margin-left: 30px;
    letter-spacing: 0.1cap;
    /* background-color: black; */
}
.Menu ul li a{
    color: #ffffff;
    text-decoration: none;
}
.Menu ul li  :hover{
    color: orange;
}
.h2{
    color: white;
    margin-top: 150px;
    margin-left: 6%;
    font-size: 1.5rem;
    letter-spacing: 0.2cap;
}
.h6{
    color: white;
    margin-top: 10px;
    margin-left: 6%;
    letter-spacing: 0.075cap;
    font-weight: lighter;
}
.cfe{
    color: rgb(255, 166, 0);
}
.cfn{
    color: rgb(242, 160, 8);
}
.cfg{
    color: rgb(242, 160, 8);
    font-weight: bolder;
}
#od{
    margin-left: 6%;
    margin-top: 2%;
    font-size: 1rem;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    letter-spacing: 0.05cap;
}
#od:hover{
    cursor: pointer;
    background-color: aliceblue;
}

#main-2 .img{
    position: absolute;
    left: 50%;
    top: 123%;
    width: 600px;
    height: 400px;
    background-image: url(img2.jpg);
    background-size: cover;
    border-radius: 15px;
}
#main-2 .img:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}
#rm{
    margin-left: 6%;
    margin-top: 35%;
    font-size: 1rem;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    letter-spacing: 0.05cap;
}
#rm:hover{
    cursor: pointer;
    background-color: rgb(255, 252, 240);
}
.words{
    margin-left: 6%;
}
.words .au{
    position: absolute;
    top: 128%;
    font-size: 3rem;
    color: orange;
    letter-spacing: 0.1cap;
}
.words p{
    position: absolute;
    top: 136%;
}
.scroll{
    width: 100%;
    height: 16%;
    margin-top: 100px;
    background-color: rgb(29, 36, 42);
}

